body{
    height: 100%;
    background-color: black;
}.t-1{
    display: flex;
    gap: 60px;
    margin-right: 50px;
}
.t-2{
    display: fleX;
    gap: 60px;
}
.r1,.r2,.r3,.r4{
    all: unset;
    background-color:#000000 ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.quiz{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "Lilita One", sans-serif;
    color: cadetblue;
}
.quiz1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "Lilita One", sans-serif;
    color: rgb(255, 255, 255);
}
.score{
    color: lime;
}
.opacity{
    opacity: 50%;
}
.green{
    background-color: #00FF00;
}
.red{
    background-color: red;
}
.theme{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 6%;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 2px 1px 2px black;
    background-color: a;
   font-size: 70px;
}
.hidden{
    display: none;
}


.submit{
    font-size: x-large;
    font-weight: lighter;
    width: 100%;
    text-align: center;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    margin-top: 30px;
    background-color: #73b2ff;
    margin-left: 0;
    margin-left: 0;

}
.question{
    font-size: 40px;
    color: white;
    overflow-wrap: break-word;
}
.question-container{
   margin-top: 130px;
   margin-left: 450px;
   margin-right: 450px;

}
.b{
    cursor: pointer;
    font-size: 25px;
    width: 50%;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color:dimgray;
    color: white;
    box-shadow: 1px 1px 3px 1px white;
}

.btn-c{
    width: auto;
    overflow: hidden;
    display: flexbox;
}
.gap{
    display: flex;
    justify-content: space-between;
}
.gap1{
    gap: 7px;
}
.f-b{
    background-image: url(./assets/main.webp);
}
.s-b{
    background-image: url(./assets/science.jpg);
    background-position: center; 
    background-size: cover; 
}

.m-b{
    background-image: url(./assets/maths.jpg)
}
.gk-b{

    background-image: url(./assets/gk.jpg);
    background-size: cover; 
}
.r-b{
    background-image: url(./assets/random.jpg);
     
}

.back{
    all: unset;
    border: solid 2px white;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    padding: 8px;
}
@media only screen and (max-width: 1250px) {
 .quiz{
    font-size: 45px;
    box-shadow: 1px 1px 2px 2px white;
    margin-left: 10%;
    margin-right: 10%;
     padding: 20px;
 }
  .b{
    width: 100%;
    display: block;
    margin-right: 10px;
  }
 .t-1{
    display: block;
    margin-right: 0; 
 }
 .t-2{
    display: block;
 }
 .pad{
    padding: 25px;
    margin-bottom: 20px;
 }
 .theme{
    padding: 30px;
    justify-content: center;
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px; 
 }
.question-container{
    margin-top: 45%;
    margin-left: 15px;
    margin-right: 15px;
 
 }
 .f-b{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlwoy_M-b_ede8ypJA9mwpYS5mwba8fxAU_KpZCdunoy68IXdEdtua8jju-b5RY9F5gWk&usqp=CAU);
    background-size: cover;
    background-position: center; 

 }
 .quiz1{
    font-size: 30px;
 }
 .s-b{
    background-image: url(https://wallpapercave.com/wp/wp10890749.jpg);
    background-position: center; 
    background-size: cover; 
}

}

/* Media queries for mobile devices */
@media only screen and (max-width: 900px) {
    .quiz{
        margin-top: 120px;
        
    }
    .quiz1{
        font-size: 30px;
     }
     .question{
        color: #ffffff;
        background-color: black;
        border: solid 2px rgb(255, 255, 255);
        padding: 10px;
     }
     .b{
        width: 100%;
        margin-right: 40px;
        margin-bottom: 20px;

     }
     .gap{
        display: block;
        justify-content: center;
        margin-right: 10px;

     }
     .question-container{
        margin-top: 40%;
     }

}
