body{
    height: 100%;
    background-color: black;
}.t-1{
    display: flex;
    gap: 60px;
    margin-right: 50px;
}
.t-2{
    display: fleX;
    gap: 60px;
}
.r1,.r2,.r3,.r4{
    all: unset;
    background-color:#000000 ;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
}
.quiz{
    font-size: 80px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "Lilita One", sans-serif;
    color: cadetblue;
}
.quiz1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    font-family: "Lilita One", sans-serif;
    color: rgb(255, 255, 255);
}
.score{
    color: lime;
}
.opacity{
    opacity: 50%;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.theme{
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top: 6%;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
    box-shadow: 2px 1px 2px black;
    background-color: a;
   font-size: 70px;
}
.hidden{
    display: none;
}
.quit{
    margin-top: 200px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-family: 'lilita one',sans-serif;
    font-weight: bolder;
    border: 1px solid gray;
    padding: 10px;
}
.question{
    font-size: 40px;
    color: white;
    overflow-wrap: break-word;
}
.question-container{
   margin-top: 250px;
   margin-left: 450px;
   margin-right: 450px;

}
.b{
    cursor: pointer;
    font-size: 25px;
    width: 300px;
    padding: 10px;
    margin: 10px;
    border-radius: 6px;
    background-color:dimgray;
    color: white;
    box-shadow: 1px 1px 3px 1px white;
}
.submit{
    font-size: x-large;
    font-weight: lighter;
    width: 600px;
    text-align: center;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #73b2ff;
}
.btn-c{
    width: auto;
    overflow: hidden;
}
.gap{
    display: flex;
    justify-content: space-between;
}
.gap1{
    gap: 7px;
}
.f-b{
    background-image: url(./assets/main.webp);
}
.s-b{
    background-image: url(./assets/science.jpg);
    background-position: center; 
    background-size: cover; 
}

.m-b{
    background-image: url(./assets/maths.jpg)
}
.gk-b{

    background-image: url(./assets/gk.jpg);
    background-size: cover; 
}
.r-b{
    background-image: url(./assets/random.jpg);
     
}

.back{
    all: unset;
    border: solid 2px white;
    font-size: 30px;
    margin-top: 20px;
    color: white;
    padding: 8px;
}